<div class="steps__stage steps__stage--active" id="step-stage1" data-stage="1">
	<h3 class="steps__title">Укажите сферу деятельности</h3>

	<div class="steps__inner">
		<input class="steps__input" id="step1" type="checkbox" name="steps-one">

		<label class="steps__label" for="step1">
							<span class="steps__img-inner">
								<img src="assets/images/quiz/quiz-1-1.jpg" alt="Опросник" loading="lazy" width="100" height="100">
							</span>
			<span class="steps__title-quiz">Мебельное, столярное производство</span>

		</label>
		<input class="steps__input" id="step2" type="checkbox" name="steps-one">

		<label class="steps__label" for="step2">
							<span class="steps__img-inner">
								<img src="assets/images/quiz/quiz-1.jpg" alt="Опросник" loading="lazy" width="100" height="100">
							</span>
			<span class="steps__title-quiz">Производство паркета</span>

		</label>
		<input class="steps__input" id="step3" type="checkbox" name="steps-one">

		<label class="steps__label" for="step3">
							<span class="steps__img-inner">
								<img src="assets/images/quiz/quiz-2.jpg" alt="Опросник" loading="lazy" width="100" height="100">
							</span>
			<span class="steps__title-quiz">Подрядчик, управляющий проектом</span>

		</label>
		<input class="steps__input" id="step4" type="checkbox" name="steps-one">
		<label class="steps__label" for="step4">
							<span class="steps__img-inner">
								<img src="assets/images/quiz/quiz-2-2.jpg" alt="Опросник" loading="lazy" width="100" height="100">
							</span>
			<span class="steps__title-quiz">Дизайнер / Архитектор</span>

		</label>
		<input class="steps__input" id="step5" type="checkbox" name="steps-one">
		<label class="steps__label" for="step5">
							<span class="steps__img-inner">
								<img src="assets/images/quiz/quiz-2-3.jpg" alt="Опросник" loading="lazy" width="100" height="100"
						     ghiw-picture-class="steps__four-picture"
						     ghiw-responsive-filenames="assets/images/quiz/quiz-2-3; assets/images/quiz/quiz-2-3"
						     ghiw-responsive-media="max-width: 768px; max-width: 1920px"
						     ghiw-responsive-extensions="jpg; webp">
							</span>
			<span class="steps__title-quiz">Другое</span>
 
		</label>
	</div>
	<div class="steps__button-inner steps__button-inner--one">

		<button class="steps__button steps__button--next button" id="steps__button--next1" type="button" data-stage="2" disabled>Далее
			<svg viewBox="0 0 34 15" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 7.5H32.5M32.5 7.5L26 1M32.5 7.5L26 14" stroke="#F0F0F0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		</button>
	</div>
</div>