
<div class="steps__stage" id="step-stage5" data-stage="5">

	<div class="steps__inner steps__inner--four">

		<div class="steps__four-inner steps__four-inner--left">
			<p class="steps__thanks">Спасибо!</p>
			<p class="steps__thanks-text">В ближайщее время с Вами свяжется наш менеджер.</p>

		</div>

		<div class="steps__four-inner steps__four-inner--right">
			<div class="steps__four-img">
				<img src="assets/images/quiz/quiz-four-1.png" alt="Фото" loading="lazy" width="100" height="100">
			</div>
			<div class="steps__button-inner steps__button-inner--five">
				<button class="steps__button steps__button--four steps__button--prev button" id="steps__button--prev4" type="button" data-stage="4">
					<svg viewBox="0 0 34 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1 7.5H32.5M32.5 7.5L26 1M32.5 7.5L26 14" stroke="#F0F0F0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					Назад
				</button>
			</div>
		</div>

	</div>

</div>