<div class="steps__stage" id="step-stage3" data-stage="3">
	<h3 class="steps__title">Какая ориентировочная площадь покрытия?</h3>
	<div class="steps__inner steps__inner--third">
		<div class="steps__third-wrapper">
			<div class="steps__third-box">
				<div class="range">
					<label class="range__label-hidden">
						<input class="steps__range-hidden" id="range-steps-input" type="range" min="1" max="1000">
					</label>

					<div class="range__wrapper">
						<div class="range__stripe" id="range-steps-fake"></div>
						<div class="range__total">
							<span>0м<sup>2</sup></span>
							<span>1000м<sup>2</sup></span>
						</div>
					</div>

				</div>

				<p class="steps__third-notification">Вы можете ввести значение вручную, либо оно появится здесь автоматически после выбора на ползунке</p>

				<label class="steps__third-meaning">
					<input class="jstooltipNumber" type="number" placeholder="Введите значение, м2" min="1" max="1000">

				</label>
				<span class="steps__warning">Введите число меньше или равное 1000</span>

			</div>


			<div class="steps__third-box">
				<div class="steps__third-img-inner">
					<div class="steps__third-img"></div>

					<div class="steps__third-img"></div>
				</div>
				<div class="steps__button-inner steps__button-inner--three">
					<button class="steps__button steps__button--prev button" id="steps__button--prev2" type="button" data-stage="2">
						<svg viewBox="0 0 34 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 7.5H32.5M32.5 7.5L26 1M32.5 7.5L26 14" stroke="#F0F0F0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						Назад
					</button>
					<button class="steps__button steps__button--next button" id="steps__button--next3" type="button" data-stage="4">Далее
						<svg viewBox="0 0 34 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 7.5H32.5M32.5 7.5L26 1M32.5 7.5L26 14" stroke="#F0F0F0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</button>
				</div>
			</div>
		</div>

	</div>

</div>