<div class="steps__stage" id="step-stage2" data-stage="2">
	<h3 class="steps__title steps__title--has-text">Какие вам необходимы продукты?</h3>
	<p class="steps__text">Вы можете выбрать несколько вариантов</p>

	<div class="steps__second-wrapper">
		<div class="steps__second-box">
			<div class="steps__inner steps__inner--second">
				<input class="steps__second-input" id="second1" type="checkbox" name="second-input">
				<label class="steps__second-label" for="second1">
					<span class="steps__fake-checkbox"></span>
					<span class="steps__second-name">Клей</span>
				</label>

				<input class="steps__second-input" id="second2" type="checkbox" name="second-input">
				<label class="steps__second-label" for="second2">
					<span class="steps__fake-checkbox"></span>
					<span class="steps__second-name">Лак</span>
				</label>

				<input class="steps__second-input" id="second3" type="checkbox" name="second-input">
				<label class="steps__second-label" for="second3">
					<span class="steps__fake-checkbox"></span>
					<span class="steps__second-name">Грунт</span>
				</label>

				<input class="steps__second-input" id="second4" type="checkbox" name="second-input">
				<label class="steps__second-label" for="second4">
					<span class="steps__fake-checkbox"></span>
					<span class="steps__second-name">Эмаль</span>
				</label>

				<input class="steps__second-input" id="second5" type="checkbox" name="second-input">
				<label class="steps__second-label" for="second5">
					<span class="steps__fake-checkbox"></span>
					<span class="steps__second-name">Морилка</span>
				</label>

				<input class="steps__second-input" id="second6" type="checkbox" name="second-input">
				<label class="steps__second-label" for="second6">
					<span class="steps__fake-checkbox"></span>
					<span class="steps__second-name">Масло</span>
				</label>

			</div>
			<p class="steps__second-wrapper-text">У нас есть готовые решения на складе и мы можем разработать индивидуальные составы в собственной лаборатории под вашу задачу</p>
		</div>

		<div class="steps__second-box steps__second-box--right">
			<div class="steps__second-box-img">
				<img src="assets/images/quiz/quiz-second-1.png" alt="Картинка" loading="lazy" width="100" height="100"
		     class="steps__second-box-image"
		     ghiw-picture-class="steps__second-box-picture">
			</div>
			<div class="steps__button-inner">
				<button class="steps__button steps__button--prev button" id="steps__button--prev1" type="button" data-stage="1">
					<svg viewBox="0 0 34 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1 7.5H32.5M32.5 7.5L26 1M32.5 7.5L26 14" stroke="#F0F0F0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					Назад
				</button>
				<button class="steps__button steps__button--next button" id="steps__button--next2" type="button" data-stage="3" disabled>Далее
					<svg viewBox="0 0 34 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1 7.5H32.5M32.5 7.5L26 1M32.5 7.5L26 14" stroke="#F0F0F0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</button>
			</div>
		</div>
	</div>


</div>