<section class="consultation">
  <div class="container">
    <div class="consultation__wrapper">
      <h2 class="consultation__title">Cоздаем лакокрасочные материалы,
        которые легко и удобно применять</h2>


      <div class="consultation__inner">

        <div class="consultation__box">
          <p class="consultation__content">При разработке составов учитываем:</p>
          <ul class="consultation__list">
            <li class="consultation__item">назначение изделий</li>
            <li class="consultation__item">особенности поверхности</li>
            <li class="consultation__item">условия и технологию нанесения</li>
            <li class="consultation__item">используемое оборудование</li>
            <li class="consultation__item">требуемые параметры качества</li>
          </ul>
        </div>

      </div>
      <div class="consultation__climbs-box">
        <div class="consultation__perfect">
          <div class="consultation__perfect-icon">
            <svg class="consultation__perfect-svg">
              <use xlink:href="assets/images/svg/set.svg#play-button"></use>
            </svg>
          </div>
          <p class="consultation__perfect-text">Добиваемся идеальной согласованности всех составляющих вашей задачи, чтобы создать не просто качественный продукт, но и легкость в применении</p>

        </div>
        <div class="consultation__gager">
          <h3 class="consultation__gager-title">Иванов Иван</h3>
          <p class="consultation__gager-text">Выезжаю к вам на производство, чтобы проконсультировать и обучить технологии применения наших продуктов</p>
          <div class="consultation__gager-link-inner">
            <a class="consultation__gager-link" href="#">Проконсультироваться</a>
            <svg class="consultation__gager-svg" width="29" height="10" viewBox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 5H27M27 5L23 1M27 5L23 9" stroke="#0C144D" stroke-width="2"/>
            </svg>

          </div>
        </div>
    
      </div>
      <img  class="consultation__image"  src="/assets/images/back-consultation.png" alt="image"
            ghiw-picture-class="consultation__picture"/>
    </div>


  </div>
</section>