<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <a class="footer__logo logo" href="#">
        <svg class="logo-svg logo-desk">
          <use xlink:href="img/svg/set.svg#logo"></use>
        </svg>

        <svg class="logo-svg logo-table">
          <use xlink:href="img/svg/set.svg#logo-table"></use>
        </svg>


        <svg class="logo-svg logo-mobile">
          <use xlink:href="img/svg/set.svg#logo-mobile"></use>
        </svg>
      </a>

      <ul class="footer__list">
        <li class="footer__item"><a class="footer__link-page" href="#">Реквизиты</a></li>
        <li class="footer__item"><a class="footer__link-page" href="#">Ассортимент</a></li>
        <li class="footer__item"><a class="footer__link-page" href="#">Объекты</a></li>
        <li class="footer__item footer__item--link"><a class="footer__link" href="tel:+79108778521">+7 910 877 85 21</a></li>
        <li class="footer__item"><a class="footer__link-page" href="#">Адрес</a></li>
        <li class="footer__item"><a class="footer__link-page" href="#">Прайс</a></li>
        <li class="footer__item"><a class="footer__link-page" href="#">Производство</a></li>
        <li class="footer__item footer__item--link"><a class="footer__link" href="mailto:contact@wood.butik">contact@wood.butik</a></li>
        <li class="footer__item"><a class="footer__link-page" href="#">Контакты</a></li>
        <li class="footer__item"><a class="footer__link-page" href="#">Качество</a></li>
        <li class="footer__item"><a class="footer__link-page" href="#">Партнерство</a></li>
        <li class="footer__item"><a class="footer__link-page" href="#">Пользовательское соглашение</a></li>
      </ul>
    </div>
  </div>

</footer>

<script src="assets/js/main.min.js"></script>