<footer class="footer">
	<div class="container">
		<div class="footer__wrapper">
			<a class="footer__logo logo" href="#">
				<svg class="logo-svg logo-desk">
					<use xlink:href="assets/images/svg/set.svg#logo"></use>
				</svg>

				<svg class="logo-svg logo-table">
					<use xlink:href="assets/images/svg/set.svg#logo-table"></use>
				</svg>


				<svg class="logo-svg logo-mobile">
					<use xlink:href="assets/images/svg/set.svg#logo-mobile"></use>
				</svg>
			</a>

			<div class="footer__list-inner">
				<ul class="footer__list">
					<li class="footer__item"><a class="footer__link-page" href="#">Реквизиты</a></li>
					<li class="footer__item"><a class="footer__link-page" href="#">Адрес </a></li>
					<li class="footer__item"><a class="footer__link-page" href="#">Контакты</a></li>
				</ul>
				<ul class="footer__list">
					<li class="footer__item"><a class="footer__link-page" href="#"> Ассортимент</a></li>
					<li class="footer__item"><a class="footer__link-page" href="#">Прайс</a></li>
					<li class="footer__item"><a class="footer__link-page" href="#">Качество</a></li>
				</ul>
				<ul class="footer__list">
					<li class="footer__item"><a class="footer__link-page" href="#">Объекты</a></li>
					<li class="footer__item"><a class="footer__link-page" href="#">Производство</a></li>
					<li class="footer__item"><a class="footer__link-page" href="#">Партнерство</a></li>
				</ul>
				<ul class="footer__list footer__list--contact-mobile">
					<li class="footer__item footer__item--link"><a class="footer__link" href="tel:{{data.phoneHref}}">{{data.phone}}</a></li>
					<li class="footer__item footer__item--link"><a class="footer__link" href="mailto:{{data.mail}}">{{data.mail}}</a></li>
					<li class="footer__item"><a class="footer__link-page" href="#">Пользовательское соглашение</a></li>
				</ul>
			</div>

			<div class="footer__list-inner footer__list-inner--table">
				<ul class="footer__list">
					<li class="footer__item"><a class="footer__link-page" href="#">Реквизиты</a></li>
					<li class="footer__item"><a class="footer__link-page" href="#">Адрес </a></li>
					<li class="footer__item"><a class="footer__link-page" href="#">Контакты</a></li>
					<li class="footer__item"><a class="footer__link-page" href="#"> Ассортимент</a></li>
					<li class="footer__item"><a class="footer__link-page" href="#">Прайс</a></li>
					<li class="footer__item"><a class="footer__link-page" href="#">Качество</a></li>
				</ul>

				<ul class="footer__list">
					<li class="footer__item"><a class="footer__link-page" href="#">Объекты</a></li>
					<li class="footer__item"><a class="footer__link-page" href="#">Производство</a></li>
					<li class="footer__item"><a class="footer__link-page" href="#">Партнерство</a></li>
				</ul>

				<div class="footer__list footer__list--table">
			
					<div class="footer__list-table">
						<a class="footer__link" href="tel:{{data.phoneHref}}">{{data.phone}}</a>
						<a class="footer__link" href="mailto:{{data.mail}}">{{data.mail}}</a>
					</div>
			
					<a class="footer__link-page" href="#">Пользовательское соглашение</a>

				</div>

			</div>

		</div>
	</div>

</footer>

