<section class="hero">
	<div class="hero__wrapper">
		<div class="hero__inner">
			<h1 class="hero__title"><span>ЛКМ</span> и <span>масла</span> для <span class="desk">профессионального</span> <span class="mob">профессиональ-<br>ного</span> покрытия и защиты древесины</h1>
			<p class="hero__text">Разрабатываем продукты премиум-класса
				в собственных лабораториях по индивидуальной рецептуре</p>
			<a class="hero__button hero__button--desk button js-scroll" href="#quiz">Рассчитать стоимость состава</a>
		</div>
		<div class="hero__slider">

			<div class="hero__container">
				<div class="hero__swiper swiper heroSlider">
					<div class="hero__swiper-wrapper  swiper-wrapper">
						<div class="hero__swiper-slide swiper-slide hero__swiper-slide--first"
						     style="background-image: url('../assets/images/hero/slider/hero-slider-1.webp')"
						     data-bg="../assets/images/hero/slider/hero-slider-1.png"
						     data-bg-webp="../assets/images/hero/slider/hero-slider-1.webp">
							<h2 class="hero__slide-title">Грунтовка</h2>


						</div>
						<div class="hero__swiper-slide swiper-slide hero__swiper-slide--second"
						     style="background-image: url('../assets/images/hero/slider/hero-slider-2.webp')"
						     data-bg="../assets/images/hero/slider/hero-slider-2.png"
						     data-bg-webp="../assets/images/hero/slider/hero-slider-2.webp">
							
							<h2 class="hero__slide-title">Клей</h2>
						</div>
						<div class="hero__swiper-slide swiper-slide hero__swiper-slide--second"
						     style="background-image: url('../assets/images/hero/slider/hero-slider-1.webp')"
						     data-bg="../assets/images/hero/slider/hero-slider-1.png"
						     data-bg-webp="../assets/images/hero/slider/hero-slider-1.webp">
							<h2 class="hero__slide-title">Клей</h2>
						</div>
					</div>

				</div>
			</div>

			<div class="hero__arrow-inner">
				<div class="hero__prev slider-arrow slider-arrow--prev">
					<svg class="logo-svg">
						<use xlink:href="assets/images/svg/set.svg#slider-arrow"></use>
					</svg>
				</div>
				<div class="hero__next slider-arrow slider-arrow--next">
					<svg class="logo-svg">
						<use xlink:href="assets/images/svg/set.svg#slider-arrow"></use>
					</svg>
				</div>
			</div>
		</div>
		<a class="hero__button hero__button--mob button js-scroll" href="#quiz">Рассчитать стоимость состава</a>
	</div>

</section>