<section class="insure">
	<div class="container">
		<h2 class="insure__title">Гарантируем выгодные условия партнерства</h2>
		<div class="insure__wrapper">
			<div class="insure__item insure__item--first">
				<h3 class="insure__item-title">Торговым представителям</h3>
				<div class="insure__info-inner">
					<p class="insure__text">Ценим каждого из наших партнеров и стремимся создать все условия для того, чтобы наши материалы помогали вам добиваться поставленных целей</p>
					<a class="insure__partner" href="#">Как стать нашим дилером
						<svg class="insure__arrow" width="29" height="10" viewBox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 5H27M27 5L23 1M27 5L23 9" stroke="#0C144D" stroke-width="2"/>
						</svg>

					</a>
				</div>
			</div>
			<div class="insure__item insure__item--second">
				<h3 class="insure__item-title">Контрактное производство</h3>
				<div class="insure__info-inner">
					<p class="insure__text">Станем вашим надежным партнером в области производства красок и покрытий на основе индивидуальных рецептур</p>
					<a class="insure__partner" href="#">Узнать условия сотрудничества
						<svg class="insure__arrow" width="29" height="10" viewBox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 5H27M27 5L23 1M27 5L23 9" stroke="#0C144D" stroke-width="2"/>
						</svg>

					</a>
				</div>
			</div>
			<div class="insure__item insure__item--third">
				<h3 class="insure__item-title">Программа лояльности</h3>
				<div class="insure__info-inner">
					<p class="insure__text">Получите вознаграждение за вашу лояльность - у нас есть программа обучения и бонусная система для сторонников нашей компании</p>
					<a class="insure__partner" href="#">Как получить бонусы
						<svg class="insure__arrow" width="29" height="10" viewBox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 5H27M27 5L23 1M27 5L23 9" stroke="#0C144D" stroke-width="2"/>
						</svg>

					</a>
				</div>
			</div>
		</div>
	</div>

</section>