
<section class="map" id="map-section">
	<div class="container">

		<div class="map__wrapper">
			<h2 class="map__title-heading">
				Образцы материалов и готовых столярных изделий представлены в нашем шоуруме
			</h2>

			<div class="map__block-inner">
				<div class="map__block map__inner">
					<div class="map__card map__card--active js-map-trigger js-map-trigger-active" data-tab="1" data-objectid="1">
						<div class="map__visible">

							<h3 class="map__title">Москва Офис </h3>

							<div class="map__hidden map__left-hidden js-map-content" data-tab="1">

								<p>Скаковая улица, 36, 4 этаж, оф.423</p>

								<a target="_blank" href="https://yandex.ru/maps/213/moscow/?indoorLevel=1&ll=37.573852%2C55.776573&mode=routes&rtext=~55.776573%2C37.573851&rtt=auto&ruri=~ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjczNTc1MhI70KDQvtGB0YHQuNGPLCDQnNC%2B0YHQutCy0LAsINCh0LrQsNC60L7QstCw0Y8g0YPQu9C40YbQsCwgMzYiCg2gSxZCFTYbX0I%3D&z=17">Построить маршрут</a>

							</div>
						</div>
						<div class="map__hidden map__right-hidden js-map-content" data-tab="1">
							<ul class="map__list">
								<li class="map__items"><a class="map__link" href="tel:+79108778521">+7 910 877 85 21</a></li>
								<li class="map__items"><a class="map__link" href="mailto:hello@liori.ru">hello@liori.ru</a></li>
							</ul>


						</div>
					</div>
					<div class="map__card js-map-trigger js-mapMobile js-mapShowroom active-map" data-tab="2" data-objectid="2">
						<div class="map__visible">
							<h3 class="map__title">Москва Шоурум</h3>
							<div class="map__hidden map__left-hidden js-map-content" data-tab="2">
								<p>Кутузовский проспект, 88, 2 этаж </p>

								<a target="_blank" href="https://yandex.ru/maps/213/moscow/?ll=37.449678%2C55.725595&mode=routes&rtext=~55.725595%2C37.449677&rtt=auto&ruri=~ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjY5MzMwNhJH0KDQvtGB0YHQuNGPLCDQnNC%2B0YHQutCy0LAsINCa0YPRgtGD0LfQvtCy0YHQutC40Lkg0L%2FRgNC%2B0YHQv9C10LrRgiwgODgiCg15zBVCFQPnXkI%3D&z=17">Построить маршрут</a>

							</div>
						</div>
						<div class="map__hidden map__right-hidden js-map-content" data-tab="2">
							<ul class="map__list">
								<li class="map__items"><a class="map__link" href="tel:+79108778521">+7 910 877 85 21</a></li>
								<li class="map__items"><a class="map__link" href="mailto:hello@liori.ru">hello@liori.ru</a></li>
							</ul>


						</div>
					</div>
					<div class="map__card js-map-trigger js-mapMobile js-mapDybna" data-tab="3" data-objectid="3">
						<div class="map__visible">
							<h3 class="map__title">Дубна</h3>
							<div class="map__hidden map__left-hidden js-map-content" data-tab="3">
								<p>Дачная улица, 1с10 Дубна, Московская область </p>

								<a target="_blank"
									 href="https://yandex.ru/maps/215/dubna/?from=navi&lang=ru&ll=37.183803%2C56.741830&mode=routes&rtext=~56.741830%2C37.183803&rtt=auto&ruri=~ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoxNjcyMjk0MDM3El3QoNC%2B0YHRgdC40Y8sINCc0L7RgdC60L7QstGB0LrQsNGPINC%2B0LHQu9Cw0YHRgtGMLCDQlNGD0LHQvdCwLCDQlNCw0YfQvdCw0Y8g0YPQu9C40YbQsCwgMdGBMTAiCg02vBRCFaP3YkI%3D&z=17">Построить
									маршрут</a>

							</div>
						</div>
						<div class="map__hidden map__right-hidden js-map-content" data-tab="3">
							<ul class="map__list">
								<li class="map__items"><a class="map__link" href="tel:+79108778521">+7 910 877 85 21</a></li>
								<li class="map__items"><a class="map__link" href="mailto:hello@liori.ru">hello@liori.ru</a></li>
							</ul>


						</div>
					</div>
					<div class="map__card js-map-trigger js-mapMobile js-mapLubirchi" data-tab="4" data-objectid="4">
						<div class="map__visible">
							<h3 class="map__title">Люберцы</h3>
							<div class="map__hidden map__left-hidden js-map-content" data-tab="4">
								<p>Дальняя улица, 6 Люберцы, Московская область </p>

								<a target="_blank" href="https://yandex.ru/maps/10738/lubercy/?from=navi&lang=ru&ll=37.913091%2C55.675951&mode=routes&rtext=~55.675951%2C37.913091&rtt=auto&ruri=~ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgozMzE2NDk1ODg1El%2FQoNC%2B0YHRgdC40Y8sINCc0L7RgdC60L7QstGB0LrQsNGPINC%2B0LHQu9Cw0YHRgtGMLCDQm9GO0LHQtdGA0YbRiywg0JTQsNC70YzQvdGP0Y8g0YPQu9C40YbQsCwgNiIKDQKnF0IVLbReQg%3D%3D&z=17">Построить маршрут</a>

							</div>
						</div>
						<div class="map__hidden map__right-hidden js-map-content" data-tab="4">
							<ul class="map__list">
								<li class="map__items"><a class="map__link" href="tel:+79108778521">+7 910 877 85 21</a></li>
								<li class="map__items"><a class="map__link" href="mailto:hello@liori.ru">hello@liori.ru</a></li>
							</ul>


						</div>
					</div>
				</div>
				<div class="map__block map__yandex">

					<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=dd597676-6673-4817-bd32-ffe8b570ac4f" type="text/javascript"></script>

					<div id="map">
						<script>
              document.addEventListener('DOMContentLoaded', function() {
                ymaps.ready(init);
                function init () {
                  var myMap = new ymaps.Map('map', {
                      center: [55.776573, 37.573851],
                      zoom: 10
                    }),
                    objectManager = new ymaps.ObjectManager({
                      clusterize: true,
                      gridSize: 32
                    });
                  myMap.geoObjects.add(objectManager);
                  objectManager.objects.options.set('preset', 'islands#redDotIcon');
                  myMap.geoObjects.add(objectManager);
                  objectManager.add({
                    type: "FeatureCollection",
                    features: [
                      {
                        type:  "Feature",
                        id: 1,
                        geometry: {
                          type:  "Point",
                          coordinates: [55.776573, 37.573851]
                        },
                        properties: {
                          balloonContent:  'Скаковая улица, 36, 4 этаж, оф.423',
                          iconCaption:  'Москва Офис',
                        },
                        options: {
                          iconLayout:  'default#imageWithContent',
                          iconImageHref:  'https://liori.ru/wp-content/themes/theme-liori/img/pin.svg',
                          iconImageSize:  [76, 76],
                          iconImageOffset:  [-54, -54],
                          iconContentOffset:  [15, 15],
                        }
                      },
                      {
                        type:  "Feature",
                        id: 2,
                        geometry: {
                          type:  "Point",
                          coordinates: [55.725595, 37.449677]
                        },
                        properties: {
                          balloonContent:  "Кутузовский проспект, 88, 2 этаж",
                          iconCaption:  "Москва Шоурум"
                        },
                        options: {
                          iconLayout:  'default#imageWithContent',
                          iconImageHref:  'https://liori.ru/wp-content/themes/theme-liori/img/pin.svg',
                          iconImageSize:  [76, 76],
                          iconImageOffset:  [-54, -54],
                          iconContentOffset:  [15, 15],
                        },
                      }, {
                        type:  "Feature",
                        id: 4,
                        geometry: {
                          type:  "Point",
                          coordinates: [55.675951, 37.913091]
                        },
                        properties: {
                          balloonContent:  "Дальняя улица, 6 Люберцы, Московская область",
                          iconCaption:  "Люберцы"
                        },
                        options: {
                          iconLayout:  'default#imageWithContent',
                          iconImageHref:  'https://liori.ru/wp-content/themes/theme-liori/img/pin.svg',
                          iconImageSize:  [76, 76],
                          iconImageOffset:  [-54, -54],
                          iconContentOffset:  [15, 15],
                        },
                      }, {
                        type:  "Feature",
                        id: 3,
                        geometry: {
                          type:  "Point",
                          coordinates: [56.741830, 37.183803]
                        },
                        properties: {
                          balloonContent:  "Дачная улица, 1с10 Дубна, Московская область",
                          iconCaption:  "Дубна"
                        },
                        options: {
                          iconLayout:  'default#imageWithContent',
                          iconImageHref:  'https://liori.ru/wp-content/themes/theme-liori/img/pin.svg',
                          iconImageSize:  [76, 76],
                          iconImageOffset:  [-54, -54],
                          iconContentOffset:  [15, 15],
                        },
                      }
                    ]
                  });
                  /* 2. Обработка списка и меток */
                  //Клик по метке в карте
                  objectManager.objects.events.add('click', function (e) {
                    var objectId=e.get('objectId');
                    viewObject(objectId);
                  });
                  //Клик в списке
                  [].forEach.call(document.querySelectorAll('[data-objectId]'), function(el) {
                    el.addEventListener('click', function() {
                      var objectId=el.getAttribute("data-objectId");
                      viewObject(objectId);
                    });
                  });
                  // Что происходит при выборе метки или варианта из списка
                  function viewObject(objectId){
                    // Удаляем со всего списка класс active затем добавляем к выбранному
                    for (var object of document.querySelectorAll('[data-objectId]')) {
                      object.classList.remove('active');
                    }
                    document.querySelector('[data-objectId="'+objectId+'"]').classList.add('active');
                    // Выделяем все метки в синий, затем выбранную в красную
                    /*
										objectManager.objects.each(function (item) {
											objectManager.objects.setObjectOptions(item.id, {
												preset: 'islands#blueIcon'
											});
										});
										objectManager.objects.setObjectOptions(objectId, {
											preset: 'islands#redDotIcon'
										});
										*/
                    // Центрирование по метке
                    myMap.setCenter(objectManager.objects.getById(objectId).geometry.coordinates, 10, {
                      checkZoomRange: true
                    });
                  }
                }
              });
						</script>
					</div>



				</div>

			</div>

		</div>

	</div>
</section>