<section class="perfection">
	<div class="container">
		<div class="perfection__wrapper">

			<div class="perfection__item perfection__item--top">
				<h2 class="perfection__title">Стремимся к безупречному результату для клиентов</h2>
				<div class="perfection__box-inner">
					<div class="perfection__box">
						<span class="perfection__number">4500</span>
						<span class="perfection__box-text perfection__box-text--long">кв. м производственные площади, оснащенные передовым оборудованием</span>
					</div>
					<div class="perfection__box">
						<span class="perfection__number">60</span>
						<span class="perfection__box-text">тыс. в месяц - высокая производительность за счет автоматизации производства</span>
					</div>
					<div class="perfection__box">
						<span class="perfection__number">3</span>
						<span class="perfection__box-text">лаборатории, где гениальные химики создают, тестируют и испытывают составы</span>
					</div>
					<div class="perfection__box">
						<span class="perfection__number">50+</span>
						<span class="perfection__box-text">сотрудников - главная ценность и ресурс компании</span>
					</div>
				</div>
			</div>

			<div class="perfection__item perfection__item--second">
			<p class="perfection__item-text">	Мы стали первым столярным производством в России, которое производит весь комплекс материалов для отделки древесины</p>

			</div>

			<div class="perfection__item perfection__item--third">
				<p class="perfection__item-text">	При этом собственные разработки соответствуют европейскому качеству, но намного привлекательнее по стоимости </p>
			</div>

		</div>
	</div>
</section>