<section class="products">
	<div class="products__wrapper container">
		<div class="tabs">

			<ul class="tab-header jsHorizontalScroll">
				<li class="tab-header__item js-tab-trigger tab-header__item--active" data-tab="1">Клей</li>
				<li class="tab-header__item js-tab-trigger" data-tab="2">Грунт</li>
				<li class="tab-header__item js-tab-trigger" data-tab="3">Эмаль</li>
				<li class="tab-header__item js-tab-trigger" data-tab="4">Клей</li>
				<li class="tab-header__item js-tab-trigger" data-tab="5">Грунт</li>
				<li class="tab-header__item js-tab-trigger" data-tab="6">Эмаль</li>
			</ul>

			<div class="tab-content">

				<div class="tab-content__box js-tab-content tab-content__box--active" data-tab="1" style="display: block">
					<div class="tab-content__wrapper jsHorizontalScroll">
						<div class="tab-content__item"
						     style="background-image: url('../assets/images/product/price-1.webp')"
						     data-bg="../assets/images/product/price-1.png"
						     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

						</div>
						<div class="tab-content__item"
							     style="background-image: url('../assets/images/product/price-1.webp')"
							     data-bg="../assets/images/product/price-1.png"
							     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

					</div>
						<div class="tab-content__item"
			     style="background-image: url('../assets/images/product/price-1.webp')"
			     data-bg="../assets/images/product/price-1.png"
			     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

						</div>
						<div class="tab-content__item"
				     style="background-image: url('../assets/images/product/price-1.webp')"
				     data-bg="../assets/images/product/price-1.png"
				     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

						</div>
						<div class="tab-content__item"
						     style="background-image: url('../assets/images/product/price-1.webp')"
						     data-bg="../assets/images/product/price-1.png"
						     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

						</div>
						<div class="tab-content__item"
						     style="background-image: url('../assets/images/product/price-1.webp')"
						     data-bg="../assets/images/product/price-1.png"
						     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

						</div>
					</div>


				</div>

				<div class="tab-content__box js-tab-content" data-tab="2">
					<div class="tab-content__wrapper jsHorizontalScroll">
						<div class="tab-content__item"
				     style="background-image: url('../assets/images/product/price-1.webp')"
				     data-bg="../assets/images/product/price-1.png"
				     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

						</div>
						<div class="tab-content__item"
						     style="background-image: url('../assets/images/product/price-1.webp')"
						     data-bg="../assets/images/product/price-1.png"
						     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

						</div>
						<div class="tab-content__item"
						     style="background-image: url('../assets/images/product/price-1.webp')"
						     data-bg="../assets/images/product/price-1.png"
						     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

						</div>
					</div>


				</div>

				<div class="tab-content__box js-tab-content" data-tab="3">
					<div class="tab-content__wrapper jsHorizontalScroll">
						<div class="tab-content__item"
			     style="background-image: url('../assets/images/product/price-1.webp')"
			     data-bg="../assets/images/product/price-1.png"
			     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

						</div>
						<div class="tab-content__item"
						     style="background-image: url('../assets/images/product/price-1.webp')"
						     data-bg="../assets/images/product/price-1.png"
						     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

						</div>
						<div class="tab-content__item"
						     style="background-image: url('../assets/images/product/price-1.webp')"
						     data-bg="../assets/images/product/price-1.png"
						     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

						</div>
						<div class="tab-content__item"
								     style="background-image: url('../assets/images/product/price-1.webp')"
								     data-bg="../assets/images/product/price-1.png"
								     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

			</div>
						<div class="tab-content__item"
						     style="background-image: url('../assets/images/product/price-1.webp')"
						     data-bg="../assets/images/product/price-1.png"
						     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

						</div>
						<div class="tab-content__item"
						     style="background-image: url('../assets/images/product/price-1.webp')"
						     data-bg="../assets/images/product/price-1.png"
						     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

						</div>
					</div>


				</div>

				<div class="tab-content__box js-tab-content" data-tab="4">
					<div class="tab-content__wrapper jsHorizontalScroll">
						<div class="tab-content__item"
					     style="background-image: url('../assets/images/product/price-1.webp')"
					     data-bg="../assets/images/product/price-1.png"
					     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

						</div>
						<div class="tab-content__item"
						     style="background-image: url('../assets/images/product/price-1.webp')"
						     data-bg="../assets/images/product/price-1.png"
						     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

						</div>
						<div class="tab-content__item"
						     style="background-image: url('../assets/images/product/price-1.webp')"
						     data-bg="../assets/images/product/price-1.png"
						     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

						</div>
					</div>


				</div>

				<div class="tab-content__box js-tab-content" data-tab="5">
					<div class="tab-content__wrapper jsHorizontalScroll">
						<div class="tab-content__item"
					     style="background-image: url('../assets/images/product/price-1.webp')"
					     data-bg="../assets/images/product/price-1.png"
					     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

						</div>
						<div class="tab-content__item"
						     style="background-image: url('../assets/images/product/price-1.webp')"
						     data-bg="../assets/images/product/price-1.png"
						     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

			</div>
						<div class="tab-content__item"
						     style="background-image: url('../assets/images/product/price-1.webp')"
						     data-bg="../assets/images/product/price-1.png"
						     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

						</div>
						<div class="tab-content__item"
						     style="background-image: url('../assets/images/product/price-1.webp')"
						     data-bg="../assets/images/product/price-1.png"
						     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

						</div>
					</div>


				</div>

				<div class="tab-content__box js-tab-content" data-tab="6">
					<div class="tab-content__wrapper jsHorizontalScroll">
						<div class="tab-content__item"
						     style="background-image: url('../assets/images/product/price-1.webp')"
						     data-bg="../assets/images/product/price-1.png"
						     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

						</div>
						<div class="tab-content__item"
						     style="background-image: url('../assets/images/product/price-1.webp')"
						     data-bg="../assets/images/product/price-1.png"
						     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

			</div>
						<div class="tab-content__item"
						     style="background-image: url('../assets/images/product/price-1.webp')"
						     data-bg="../assets/images/product/price-1.png"
						     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

						</div>
						<div class="tab-content__item"
						     style="background-image: url('../assets/images/product/price-1.webp')"
						     data-bg="../assets/images/product/price-1.png"
						     data-bg-webp="../assets/images/product/price-1.webp">
							<div class="tab-content__name-inner">
								<h4 class="tab-content__name">Клей <br> грунтовый</h4>
								<span class="tab-content__price">254 ₽</span>
							</div>

							<div class="tab-content__describe">
								<div class="tab-content__describe-text">Подойдет под
									любые поверхности
									вашего дома
								</div>

							</div>

						</div>
					</div>


				</div>

			</div>

		</div>
	</div>
</section>