<section class="profitability">
	<div class="container">
		<h2 class="profitability__title">Как мы снижаем стоимость покрытия
			и повышаем рентабельность готовых столярных изделий</h2>

		<div class="profitability__wrapper">

			<div class="profitability__box profitability__box--left">
				<p class="profitability__text">Оптимизируем стоимость наших продуктов за счет собственных разработок - производим компоненты высокого качества - аналоги европейских брендов</p>
				<p class="profitability__text"><b class="profitability__fat">Если у вас уже есть предложение от другого поставщика, расскажите нам об условиях поставки и мы наверняка сделаем вам более выгодное предложение</b>

				</p>
				<button class="profitability__button button">Получить персональное предложение</button>

			</div>

			<div class="profitability__box profitability__box--right">

				<div class="profitability__box-inner">

					<div class="profitability__box-back">
						<div class="profitability__barrel">
							<p class="profitability__barrel-text profitability__barrel-text--left">Так формируется себестоимость наших продуктов</p>
							<div class="profitability__img ">
								<img  src="assets/images/profitability/barrel-left.png" alt="Бочка с краской" loading="lazy" width="100" height="100"
								      class="profitability__barrel-image"
								      ghiw-picture-class="profitability__barrel-picture profitability__barrel-picture--left">
							</div>
							<p class="profitability__barrel-text--table">
								Оптимизируем стоимость наших продуктов за счет собственных разработок - производим компоненты высокого качества - аналоги европейских брендов
							</p>

						</div>
						<div class="profitability__barrel">
							<p class="profitability__barrel-text profitability__barrel-text--right">Так формируется состав продуктов у большинства российских поставщиков</p>
							<div class="profitability__img ">
								<img  src="assets/images/profitability/barrel-right.png" alt="Бочка с краской" loading="lazy" width="100" height="100"
								      class="profitability__barrel-image"
								      ghiw-picture-class="profitability__barrel-picture profitability__barrel-picture--right">
							</div>

							<p class="profitability__barrel-text--table">
								Если у вас уже есть предложение от другого поставщика, расскажите нам об условиях поставки и мы наверняка сделаем вам более выгодное предложение
							</p>

						</div>
					</div>

				</div>

				<button class="profitability__button profitability__button--table button">Получить персональное предложение</button>

			</div>

		</div>
	</div>
</section>