<section class="quiz" id="quiz">
	<div class="container">
		<div class="quiz__wrapper">

			<div class="table-padding">
				<div class="quiz__title-inner">

					<h2 class="quiz__title">
						Ответьте на <span>4 вопроса</span>, чтобы получить расчет с персональной <span>скидкой</span> на первый заказ
					</h2>

					<div class="quiz__counter">
						<span class="quiz__current">1</span>
						<span class="quiz__total">4</span>
					</div>
				</div>


				<div class="quiz__progress">
					<span class="quiz__progress-bar"></span>
				</div>
			</div>

			<form class="quiz__steps steps">

				<div class="steps__stage steps__stage--active" id="step-stage1" data-stage="1">
					<h3 class="steps__title">Укажите сферу деятельности</h3>

					<div class="steps__inner">
						<input class="steps__input" id="step1" type="checkbox" name="steps-one">

						<label class="steps__label" for="step1">
							<span class="steps__img-inner">
								<img src="assets/images/quiz/quiz-1-1.jpg" alt="Опросник">
							</span>
							<span class="steps__title-quiz">Мебельное, столярное производство</span>

						</label>
						<input class="steps__input" id="step2" type="checkbox" name="steps-one">

						<label class="steps__label" for="step2">
							<span class="steps__img-inner">
								<img src="assets/images/quiz/quiz-1.jpg" alt="Опросник">
							</span>
							<span class="steps__title-quiz">Производство паркета</span>

						</label>
						<input class="steps__input" id="step3" type="checkbox" name="steps-one">

						<label class="steps__label" for="step3">
							<span class="steps__img-inner">
								<img src="assets/images/quiz/quiz-2.jpg" alt="Опросник">
							</span>
							<span class="steps__title-quiz">Подрядчик, управляющий проектом</span>

						</label>
						<input class="steps__input" id="step4" type="checkbox" name="steps-one">
						<label class="steps__label" for="step4">
							<span class="steps__img-inner">
								<img src="assets/images/quiz/quiz-2-2.jpg" alt="Опросник">
							</span>
							<span class="steps__title-quiz">Дизайнер / Архитектор</span>

						</label>
						<input class="steps__input" id="step5" type="checkbox" name="steps-one">
						<label class="steps__label" for="step5">
							<span class="steps__img-inner">
								<img src="assets/images/quiz/quiz-2-3.jpg" alt="Опросник">
							</span>
							<span class="steps__title-quiz">Другое</span>

						</label>
					</div>
					<div class="steps__button-inner steps__button-inner--one">

						<button class="steps__button steps__button--next button" id="steps__button--next1" type="button" data-num="1" disabled>Далее
							<svg viewBox="0 0 34 15" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 7.5H32.5M32.5 7.5L26 1M32.5 7.5L26 14" stroke="#F0F0F0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</button>
					</div>
				</div>

				<div class="steps__stage" id="step-stage2" data-stage="2">
					<h3 class="steps__title steps__title--has-text">Какие вам необходимы продукты?</h3>
					<p class="steps__text">Вы можете выбрать несколько вариантов</p>

					<div class="steps__second-wrapper">
						<div class="steps__second-box">
							<div class="steps__inner steps__inner--second">
								<input class="steps__second-input" id="second1" type="checkbox" name="second-input">
								<label class="steps__second-label" for="second1">
									<span class="steps__fake-checkbox"></span>
									<span class="steps__second-name">Клей</span>
								</label>

								<input class="steps__second-input" id="second2" type="checkbox" name="second-input">
								<label class="steps__second-label" for="second2">
									<span class="steps__fake-checkbox"></span>
									<span class="steps__second-name">Лак</span>
								</label>

								<input class="steps__second-input" id="second3" type="checkbox" name="second-input">
								<label class="steps__second-label" for="second3">
									<span class="steps__fake-checkbox"></span>
									<span class="steps__second-name">Грунт</span>
								</label>

								<input class="steps__second-input" id="second4" type="checkbox" name="second-input">
								<label class="steps__second-label" for="second4">
									<span class="steps__fake-checkbox"></span>
									<span class="steps__second-name">Эмаль</span>
								</label>

								<input class="steps__second-input" id="second5" type="checkbox" name="second-input">
								<label class="steps__second-label" for="second5">
									<span class="steps__fake-checkbox"></span>
									<span class="steps__second-name">Морилка</span>
								</label>

								<input class="steps__second-input" id="second6" type="checkbox" name="second-input">
								<label class="steps__second-label" for="second6">
									<span class="steps__fake-checkbox"></span>
									<span class="steps__second-name">Масло</span>
								</label>

							</div>
							<p class="steps__second-wrapper-text">У нас есть готовые решения на складе и мы можем разработать индивидуальные составы в собственной лаборатории под вашу задачу</p>
						</div>

						<div class="steps__second-box steps__second-box--right">
							<div class="steps__second-box-img">
								<img src="assets/images/quiz/quiz-second-1.png" alt="Картинка">
							</div>
							<div class="steps__button-inner">
								<button class="steps__button steps__button--prev button" id="steps__button--prev1" type="button">
									<svg viewBox="0 0 34 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1 7.5H32.5M32.5 7.5L26 1M32.5 7.5L26 14" stroke="#F0F0F0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
									Назад
								</button>
								<button class="steps__button steps__button--next button" id="steps__button--next2" type="button" data-num="2" disabled>Далее
									<svg viewBox="0 0 34 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1 7.5H32.5M32.5 7.5L26 1M32.5 7.5L26 14" stroke="#F0F0F0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								</button>
							</div>
						</div>
					</div>


				</div>

				<div class="steps__stage" id="step-stage3" data-stage="3">
					<h3 class="steps__title">Какая ориентировочная площадь покрытия?</h3>
					<div class="steps__inner steps__inner--third">
						<div class="steps__third-wrapper">
							<div class="steps__third-box">
								<div class="range">
									<label class="range__label-hidden">
										<input class="steps__range-hidden" id="range-steps-input" type="range" min="1" max="1000" value="">
									</label>

									<div class="range__wrapper">
										<div class="range__stripe" id="range-steps-fake"></div>
										<div class="range__total">
											<span>0м<sup>2</sup></span>
											<span>1000м<sup>2</sup></span>
										</div>
									</div>

								</div>

								<p class="steps__third-notification">Вы можете ввести значение вручную, либо оно появится здесь автоматически после выбора на ползунке</p>

								<label class="steps__third-meaning">
									<input class="jstooltipNumber" type="number" placeholder="Введите значение, м2" min="1" max="1000" value="" maxlength="4">

								</label>
								<span class="steps__warning">Введите число меньше или равное 1000</span>

							</div>


							<div class="steps__third-box">
								<div class="steps__third-img-inner">
									<div class="steps__third-img"></div>

									<div class="steps__third-img"></div>
								</div>
								<div class="steps__button-inner steps__button-inner--three">
									<button class="steps__button steps__button--prev button" id="steps__button--prev2" type="button">
										<svg viewBox="0 0 34 15" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M1 7.5H32.5M32.5 7.5L26 1M32.5 7.5L26 14" stroke="#F0F0F0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
										Назад
									</button>
									<button class="steps__button steps__button--next button" id="steps__button--next3" type="button">Далее
										<svg viewBox="0 0 34 15" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M1 7.5H32.5M32.5 7.5L26 1M32.5 7.5L26 14" stroke="#F0F0F0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</button>
								</div>
							</div>
						</div>

					</div>

				</div>

				<div class="steps__stage" id="step-stage4" data-stage="4">

					<div class="steps__inner steps__inner--four">

						<div class="steps__four-inner steps__four-inner--left">
							<h3 class="steps__title steps__title--four">Оставьте свои данные, чтобы менеджер связался с вами и направил вам коммерческое предложение с персональной скидкой</h3>
							<div class="steps__four-box">

								<div class="steps__four-form">
									<label class="steps__four-label steps__four-label--name">
										<input class="steps__four-input name" type="text" maxlength="10" required>
										<span class="steps__fake-input">Ваше имя*</span>
									</label>
									<label class="steps__four-label steps__four-label--phone">
										<input class="steps__four-input phone-mask" type="text" required>
										<span class="steps__fake-input">Ваш телефон*</span>
									</label>
								</div>
								<button class="steps__four-button button js-quiz" type="submit">Получить персональный расчет</button>

							</div>

							<div class="steps__personal-wrapper">
								<input class="steps__personal-input" id="personal" type="checkbox" checked>
								<label class="steps__personal-label" for="personal">
									<span class="steps__fake-checkbox steps__fake-checkbox--personal"></span>

								</label>
								<span class="steps__four-personal">Я согласен на обработку <a class="steps__personal-politic" href="#">персональных данных</a></span>
							</div>

						</div>

						<div class="steps__four-inner steps__four-inner--right">
							<div class="steps__four-img">
								<img src="assets/images/quiz/quiz-four-1.png" alt="Фото">
							</div>
							<div class="steps__button-inner steps__button-inner--four">
								<button class="steps__button steps__button--four steps__button--prev button" id="steps__button--prev3" type="button">
									<svg viewBox="0 0 34 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1 7.5H32.5M32.5 7.5L26 1M32.5 7.5L26 14" stroke="#F0F0F0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
									Назад
								</button>
							</div>
						</div>

					</div>

				</div>


				<div class="steps__stage" id="step-stage5" data-stage="5">

					<div class="steps__inner steps__inner--four">

						<div class="steps__four-inner steps__four-inner--left">
							<p class="steps__thanks">Спасибо!</p>
							<p class="steps__thanks-text">В ближайщее время с Вами свяжется наш менеджер.</p>

						</div>

						<div class="steps__four-inner steps__four-inner--right">
							<div class="steps__four-img">
								<img src="assets/images/quiz/quiz-four-1.png" alt="Фото">
							</div>
							<div class="steps__button-inner steps__button-inner--five">
								<button class="steps__button steps__button--four steps__button--prev button" id="steps__button--prev4" type="button">
									<svg viewBox="0 0 34 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1 7.5H32.5M32.5 7.5L26 1M32.5 7.5L26 14" stroke="#F0F0F0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
									Назад
								</button>
							</div>
						</div>

					</div>

				</div>
			</form>

		</div>
	</div>
</section>