<section class="quiz" id="quiz">
	<div class="container">
		<div class="quiz__wrapper">

			<div class="table-padding">
				<div class="quiz__title-inner">

					<h2 class="quiz__title">
						Ответьте на <span>4 вопроса</span>, чтобы получить расчет с персональной <span>скидкой</span> на первый заказ
					</h2>

					<div class="quiz__counter">
						<span class="quiz__current">1</span>
						<span class="quiz__total">4</span>
					</div>
				</div>


				<div class="quiz__progress">
					<span class="quiz__progress-bar"></span>
				</div>
			</div>

			<form class="quiz__steps steps">

			{{>quiz__stage1}}

			{{>quiz__stage2}}

			{{>quiz__stage3}}

			{{>quiz__stage4}}

			{{>quiz__stage5}}

			</form>

		</div>

	</div>
</section>