<section class="raise">
  <div class="raise__wrapper">
    <div class="raise__text-block">
      <h2 class="raise__title"><span class="raise__title-color">Повышаем качество отделки древесины за счет</span> системных решений для полного цикла производства </h2>
      <p class="raise__text">Когда задача состоит из нескольких этапов отделки деревянного изделия, мы предлагаем комплексный подход - разработку химических составов для каждого цикла производственного процесса</p>
    </div>
    <div class="raise__slider">
      <div class="raise__swiper swiper raiseSwiper">
        <div class="raise__swiper-wrapper swiper-wrapper">
          <div class="raise__slide swiper-slide">
            <img src="assets/images/raise-slider/slide1.jpg" alt="Слайд">
          </div>
          <div class="raise__slide swiper-slide">
            <img src="assets/images/raise-slider/slide1.jpg" alt="Слайд"></div>
          <div class="raise__slide swiper-slide">
            <img src="assets/images/raise-slider/slide1.jpg" alt="Слайд">
          </div>
        </div>
        <div class="raise__button-inner">
          <svg class="raise__button-svg raise__prev">
            <use xlink:href="assets/images/svg/set.svg#slider-arrow"></use>
          </svg>
          <svg class="raise__button-svg raise__next">
            <use xlink:href="assets/images/svg/set.svg#slider-arrow"></use>
          </svg>


        </div>
      </div>
    </div>
    <div class="raise__scrollbar swiper-scrollbar"></div>
  </div>

</section>