<section class="sale">
	<div class="container">
		<div class="sale__inner">
			<h2 class="sale__title">
				При первом обращении
				дарим Вам скидку 10%
				на прайс готовой продукции
			</h2>
			<form class="sale__wrapper" action="#" method="post">
				<label class="sale__label">
					<input class="sale__input" type="text" required>
					<span class="sale__fake-input">Ваше имя*</span>
				</label>
				<label class="sale__label">
					<input class="sale__input" type="text" required>
					<span class="sale__fake-input">Ваш телефон*</span>
				</label>
				<button class="sale__button button" type="submit">Получить персональный расчет</button>

				<input class="sale__input-checkbox" type="checkbox" id="sale-checkbox" checked>
				<label class="sale__checkbox" for="sale-checkbox">
					<span class="sale__fake-checkbox-round"></span>
					<span class="sale__fake-checkbox">Я согласен на обработку <a class="sale__fake-color" href="#">персональных данных</a></span>
				</label>

			</form>
		</div>
	</div>
</section>