<section class="stability">
	<div class="container">
		<h2 class="stability__title">Обеспечиваем стабильность качества и состава при любых объемах производства</h2>
		<div class="stability__wrapper">

			<div class="stability__box" style="background-image: url('../assets/images/stability/stability-back-1.svg')">
				<h4 class="stability__box-title">Минимизируем поставки зарубежного сырья, что делаем нас более устойчивыми в условиях кризиса</h4>
			</div>

			<div class="stability__box"  style="background-image: url('../assets/images/stability/stability-back-2.svg')">
				<h4 class="stability__box-title">Автоматизируем <br> производство и инвестируем <br> в собственные научные исследования и разработки</h4></div>

			<div class="stability__box"  style="background-image: url('../assets/images/stability/stability-back-3.svg')">
				<h4 class="stability__box-title">Работаем честно по утвержденной с заказчиком рецептуре для образца, не меняя компоненты</h4>
			</div>
		</div>

		<a class="stability__order" href="#">
			<p class="stability__text"><span class="stability__dash">Закажите пробную партию</span>, чтобы убедиться в качестве наших продуктов</p>
			<div class="stability__number-inner">
				<span class="stability__number">5</span>
				<span class="stability__number-text">литров минимальный объем пробной партии</span>
			</div>
		</a>
	</div>
</section>