
<section class="task">
	<div class="container">
		<h2 class="task__title">
			Вы получите продукт с параметрами <br> точно соответствующими вашей <br> задаче
		</h2>
		<p class="task__box-text task__box-text--table">Подберем оптимальное соотношение компонентов <br> так, чтобы обеспечить высокий уровень качественных <br> характеристик и сформируем стоимость с учетом <br> рентабельности вашего готового изделия</p>
		<div class="task__wrapper">
			<div class="task__box">

				<p class="task__text">У нас 3 лаборатории, где узкопрофильные химики разрабатывают составы и тестируют качество продуктов</p>
			</div>
			<div class="task__box-in">
				<p class="task__box-text task__box-text--desk">Подберем оптимальное соотношение компонентов <br> так, чтобы обеспечить высокий уровень качественных <br> характеристик и сформируем стоимость с учетом <br> рентабельности вашего готового изделия</p>
				<div class="task__box">
					<p class="task__text task__text">Работаем в соответствиии с ТУ, стандартами качества и безопасности. На каждый продукт выписываем паспорт с описанием параметров и технологии использования</p>
				</div>
			</div>
		</div>
	</div>
</section>




