.consultation

	&__title
		font-weight: 600
		font-size: 48px
		line-height: 61px
		color: #0C144D
		max-width: 940px
		margin-bottom: 82px


	&__wrapper
		position: relative
		background-color: #E2E3E8
		border-radius: 26px
		padding: 65px 65px 180px 65px
		background-image: url("../images/back-consultation.png")
		background-size: contain
		background-position: bottom right
		background-repeat: no-repeat
		margin-bottom: 215px

	&__inner
		display: flex

	&__content, &__item
		font-weight: 500
		font-size: 22px

	&__content
		margin-bottom: 30px

	&__item
		display: flex
		align-items: center
		&:before
			content: ''
			display: flex
			align-items: center
			justify-content: center
			width: 4px
			height: 4px
			background-color: #0C144D
			margin-right: 13px
			margin-left: -17px
			border-radius: 50%
		&:not(:last-child)
			margin-bottom: 10px

	&__climbs-box
		position: absolute
		display: flex
		justify-content: space-between
		align-items: flex-end
		width: calc(100% - 130px)
		margin-left: 65px
		bottom: -60px
		left: 0

	&__perfect
		display: flex
		align-items: center
		justify-content: space-between
		background-color: #0C144D
		border-radius: 20px
		padding: 35px 45px 45px 35px
		max-width: 700px

	&__perfect-text
		font-weight: 500
		font-size: 22px
		line-height: 28px
		color: #FFFFFF


	&__perfect-svg
		max-width: 105px
		max-height: 105px
		margin-right: 40px

	&__gager
		max-width: 545px
		background: #D2D3DD
		border-radius: 20px
		padding: 40px 90px 48px 53px

	&__gager-title
		font-weight: 600
		font-size: 25px
		line-height: 28px
		color: #0C144D
		margin-bottom: 20px

	&__gager-text
		font-weight: 500
		font-size: 18px
		line-height: 28px
		margin-bottom: 40px

	&__gager-link-inner
		display: flex
		align-items: center



	&__gager-link
		font-weight: 600
		font-size: 22px
		line-height: 28px
		color: #0C144D

	&__gager-svg
		margin-left: 13px
		transform: translateY(2px)