.profitability

	&__title
		font-weight: 600
		font-size: 48px
		line-height: 61px
		color: #0C144D
		max-width: 930px
		@media (max-width: 1440px)
			font-size: 32px
			line-height: 40px
			max-width: unset
			margin-bottom: 45px

	&__text
		font-weight: 500
		font-size: 22px
		line-height: 28px
		margin-bottom: 55px
		max-width: 640px
		color: #000000
		&:nth-child(2)
			font-size: 24px

	&__wrapper
		display: flex
		align-items: center
		margin-bottom: 150px
		@media (max-width: 1440px)
			flex-direction: column
			align-items: flex-start

	&__box
		width: 50%
		@media (max-width: 1440px)
			width: 100%
		&--left
			align-self: flex-end
			@media (max-width: 1440px)
				display: none

	&__box-inner
		display: flex
		flex-direction: column

	&__box-back
		position: relative
		display: flex
		align-items: stretch
		justify-content: space-evenly
		width: 100%
		@media (max-width: 1440px)
			gap: 0 95px
			margin-bottom: 75px
			justify-content: space-between
		&:before
			position: absolute
			display: block
			content: ''
			background: #D2D3DD
			border-radius: 26px
			height: 265px
			bottom: 0
			left: 0
			width: 100%
			z-index: -1
			@media (max-width: 1440px)
				display: none

	&__barrel
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: center
		@media (max-width: 1440px)
			flex-direction: column-reverse

	&__barrel-text
		text-align: center
		font-weight: 500
		font-size: 16px
		line-height: 20px
		color: rgba(0, 0, 0, .6)
		max-width: 290px
		margin: 0 auto
		&--table
			display: none
			font-weight: 600
			font-size: 18px
			line-height: 22px
			color: #2E2E2E
			@media (max-width: 1440px)
				display: block
				text-align: left

	&__img
		& img
			max-width: 455px
			min-height: 460px
			@media (max-width: 1440px)
				min-height: 440px
				max-width: 390px
				width: 100%
				object-fit: cover

	&__button
		min-height: 85px
		font-weight: 600
		font-size: 18px
		@media (max-width: 1440px)
			display: none
		&--table
			display: none
			@media (max-width: 1440px)
				display: flex
				width: 100%





